* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
  }
  
  .login-box {
    background: rgb(151, 88, 88);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(76, 42, 42, 0.1);
    width: 500px; 
    text-align: center;
  }
  
  .login-box h2 {
    font-size: 24px;
  }
  
  .login-box input {
    width: 100%;
    padding: 14px;
    font-size: 18px; 
    margin-bottom: 15px;
  }
  
  .login-box button {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    background: rgb(23, 17, 23);
    color: rgb(250, 253, 247);
    border: none;
    cursor: pointer;
  }
  
  .login-box button:hover {
    background: darkblue;
  }
  