
body {
    font-family: 'Charter', Georgia, serif;
    background-color: #fafaf2; 
    color: #000;
  }
  h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;
  }
  
  .content {
    max-width: 600px;
    text-align: left;
  }
  
  
p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  
  button {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
  }
  button:hover {
    background-color: #444;
  }
  